@import url('https://fonts.googleapis.com/css2?family=Island+Moments&family=Lato&family=Open+Sans&family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans&display=swap');
:root{
  --bs-body-font-family: Lato;
  --bs-body-font-size: 20px;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-colortext: :rgb(217, 217, 217);;
  --bs-border-color:#1B1E23;
  --b: 0.1em;  
  --c: #1095c1; 
}

body{
  font-family: var(--bs-body-font-family);
  font-size: var(--bs-body-font-size);
  font-weight: var(--bs-body-font-weight);
  line-height: var(--bs-body-line-height);
  display: flex;
  min-height: 100vh;
  background-color: rgb(68, 68, 68);
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color:rgb(217, 217, 217);
}

.header{
  background-color: rgb(39, 39, 39) ;
  height: 3.125rem;
}

.header-elements{
  display: flex;
  flex-direction: row;
  padding-top: 0.625rem;
  padding-left: 20px;
  padding-bottom: 0.625rem;
  gap: 20px;
  
}

.headers-btn{
  width: 150px;
  height: 30px;
  background-color: rgb(39, 39, 39);
  border: none;
  color: white;
  cursor: pointer;
}

.headers-btn:hover{
  border-bottom: 2px ridge gray;
  transition: 300ms;
}

.hw-h1{
  color: var(--bs-body-colortext);
}

h3{
  color: var(--bs-body-colortext);
  padding-left: 170px;
  padding-top:30px;
  opacity: 50%;
}


.hw-container{
  padding-top: 200px;
  padding-left: 50px;
  width: 100%;
  height: auto;
  background-image: linear-gradient(45deg, rgba(216, 12, 12, 0.678) 30% , #77193e, #712f26);
}


.wc-port{
  float: right;
}

.wc-h1{
  color: var(--bs-body-colortext);
  display: flex;
  padding-right: 50px;
}

.arrow{
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-top: 60px;
}

.arrow2{
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.arrow-down{
  width: 120px;
  height: 50px;
  cursor: pointer;
}


.my-desc{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  background-image: linear-gradient(315deg, rgba(216, 12, 12, 0.678) 10% , #77193e, #712f26);
}

.description{
  padding-top: 20px;
  text-align: center;
}

.container-tech{
  padding-right: 100px;
  gap: 30px;
}

.img-skills{
  display: flex;
  width: 100%;
  gap: 15px;
}

.skills{
  width: 100%;
  text-align: center;
  padding-top: 30px;
}

.imgs{
  width: 100px;
  margin-right: 10px;
}

.arrow-down2{
  width: 120px;
  height: 50px;
  cursor: pointer;
  margin-top: 30px;
}

.c{
  width: 80px;
}

.projects-container{
  padding-left: 1rem;
  padding-right: 1rem;
  background-image: linear-gradient(45deg, rgba(216, 12, 12, 0.678) 30% , #77193e, #712f26);
}

.projects{
  flex-direction: column;
  width: 100%;
  height: auto;
  align-items: center;
}

.calc{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.challenge-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  padding-top: 30px;
  padding-bottom: 20px;
  gap: 10px;
  
}

#form{
  width: 600px !important;
}

#calc{
  width: 600px !important;
}

.challenge-form:hover{
  border: 2px double var(--bs-border-color);
  padding: 10px;
  border-radius: 10px;
  transition: 400ms;
}

#tec-used{
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding-top: 15px;
  justify-content: center;
}

#bd-in{
  border: 2px ridge transparent; 
  width: 100px; 
  font-size: 15px;
  text-align: center;
  background-color:#2b2b2b;
  color: white; 
  border-radius: 20px;
  font-family: 'Oswald';
  font-weight: 800;
}

.pj-text{
  text-align:center;
  padding-top: 15px;
}

.calc:hover{
  border: 2px double var(--bs-border-color);
  padding: 10px;
  border-radius: 10px;
  transition: 400ms;
  
}

.contacts-container{
  width: 100%;
  height: auto
}


.contacts-container{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(315deg, rgba(216, 12, 12, 0.678) 10% , #77193e, #712f26);
}
.icons{
  padding-top: 60px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

#icon{
  width: 200px;
  height: 60px;
  cursor: pointer;
  transition: transform 500ms ease;
}

#icon:hover{
  transform: translateY(-15px);
}

#contact
{
  text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 100%,
    #6c0ee773 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
      font-size: 70px;
}

@keyframes textclip {
  to {
    background-position: 100% center;
  }
}

.curric{
  width: 80px;
  height: 60px;
}





